<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
              <label for="">Date of Addmission</label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="">Image</label>
            <input type="file" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
    </div>
        <div class="col-md-4">
            <div class="form-group">
              <label for="">First Name</label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Middle Name</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="">Last Name</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
      <label for="">Corporate Address</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
      <label for="">Permanent Address</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Age</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Mobile No.</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Parent name</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Email-id</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Date of birth</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <label for="">Education Qualification</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
</div>

      
    </div>
    <br>
    
</div>







<div class="container">
  
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company (disabled)" disabled value="Google">
          </mat-form-field>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="First name">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Long Last Name That Will Be Truncated">
            </mat-form-field></td>
          </tr></table>
        
          <p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address 2"></textarea>
            </mat-form-field>
          </p>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="City">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="State">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field></td>
          </tr></table>
        </form>
  
</div>